<!DOCTYPE html>
<html>

<head>
    <title>ahkili</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascripts/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="javascripts/ahkili.js"></script>
    <script type="text/javascript" src="javascripts/alert.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <section id="headSection">
        <h1>ahkili</h1>
        <h4>your id:</h4>
        <div id="socketId"></div>
                <div id="socketStatus"></div>



        <h4>send your id to your friends and receive cool anonymous messages from them !</h4>
        <h4> connected users :</h4>

        <div id="socketClients"></div>

        <h6><a href="https://www.linkedin.com/in/ahmed-derbala-04a102149/">developed by Ahmed Derbala</a>
</h6>

    </section>



    <section id="chatroom">
        <section id="feedback"></section>
    </section>



    <section id="input_zone">

        <input id="to" placeholder="id of your friend" type="text" />

        <input id="message" placeholder="Message" type="text" />
        <button id="sendBtn" type="button">Send</button>
        <button id="sendAllBtn" type="button">Send to all</button>

    </section>

</body>

</html>
