<!DOCTYPE html>
<html>

<head>
    <script>unloadAllJS()

    function unloadAllJS() {
        var jsArray = new Array();
        jsArray = document.getElementsByTagName('script');
        for (i = 0; i < jsArray.length; i++) { if (jsArray[i].id) { unloadJS(jsArray[i].id) } else { jsArray[i].parentNode.removeChild(jsArray[i]); } }
    }

    function unloadJS(scriptName) {
        var head = document.getElementsByTagName('head').item(0);
        var js = document.getElementById(scriptName);
        js.parentNode.removeChild(js);
    }</script>
    <title>ahkili</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascripts/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="javascripts/ahkili.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <section id="headSection">
        <h1>ahkili</h1>
        <h4>your id:</h4>
        <div id="socketId"></div>
                <div id="socketStatus"></div>



        <h4>send your id to your friends and receive cool anonymous messages from them !</h4>
        <h4> connected users :</h4>

        <div id="socketClients"></div>

        <h6><a href="https://www.linkedin.com/in/ahmed-derbala-04a102149/">developed by Ahmed Derbala</a>
</h6>

    </section>

    

    <section id="chatroom">
        <section id="feedback"></section>
    </section>



    <section id="input_zone">

        <input id="to" placeholder="id of your friend" type="text" />

        <input id="message" placeholder="Message" type="text" />
        <button id="send_message" type="button">Send</button>
        <button id="sendMessageBroadcast" type="button">Send to all</button>

    </section>

</body>

</html>
