html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

#headSection {
    overflow: auto;
    height: 40%;
    width: 100%;
    max-width: 100%;
    max-height: 40%;
    text-align: center;
}

#socketId {
    color: red;
}

div#change_username {
    display: inline-block;
    background-color: #BCA9F5;
    border: 5px outset #8258FA;
}

section#chatroom {
    border: 5px inset #8258FA;
    height: 50%;
    overflow: auto;
}

section#input_zone {
    border: 5px outset #8258FA;
    background-color: #BCA9F5;
}

#to {
    height: 30%;
    width: 30%;
    max-width: 30%;
    max-height: 30%;
}

input#username {}

input#message {
    width: 50%;
}

p.message {
    margin: 0px;
    width: 100%;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}

.red {
    font-size: 2vh;
    color: red;
}

.green {
    font-size: 2vh;
    color: green;
}

.orange {
    font-size: 2vh;
    color: orange;
}

.yellow {
    font-size: 2vh;
    color: yellow;
}

.pink {
    font-size: 2vh;
    color: pink;
}

p.logsRed {
    background-color: red;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
}

p.logsPink {
    background-color: pink;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
}

p.logsBlack {
    background-color: black;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
}

p.logsGreen {
    margin: 0px;
    width: 100%;
    color: white;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
    background-color: green;
}

p.logsOrange {
    color: white;
    background-color: orange;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
}

p.logsYellow {
    color: white;
    background-color: yellow;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    padding: 1vh;
}

div#logs {
    border: 2px inset #8258FA;
    height: 500px;
    width: 500px;
    max-width: 50%;
    max-height: 50%;
    overflow: auto;
}